/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define MT_ACTRL  &mt LCTRL A
#define MT_SALT   &mt LALT S
#define MT_DWIN   &mt LWIN D
#define MT_KWIN   &mt RWIN K
#define MT_LALT   &mt RALT L
#define MT_SEMCTL &mt RCTRL SEMI

&mt {
  //  flavor = "tap-preferred";
   // tapping_term_ms = <200>;
};

/ {
&mt {
	flavor = "balanced";
};
keymap {
	compatible = "zmk,keymap";

	default_layer {
	bindings = <
		&kp Q     &kp W     &kp E     &kp R     &kp T       &kp Y     &kp U     &kp I     &kp O     &kp P
		MT_ACTRL  MT_SALT   MT_DWIN   &kp F     &kp G       &kp H     &kp J     MT_KWIN   MT_LALT   MT_SEMCTL
		&kp Z     &kp X     &kp C     &kp V     &kp B       &kp N     &kp M     &kp CMMA  &kp DOT   &kp FSLH
		                              &mo 1     &kp SPC     &kp LSHFT &mo 2
	>;};

	number_layer {
	bindings = <
		&trans    &trans    &trans    &trans    &trans      &trans    &trans    &trans    &trans    &trans
		&trans    &trans    &trans    &trans    &trans      &trans    &trans    &trans    &trans    &trans
		&trans    &trans    &trans    &trans    &trans      &trans    &trans    &trans    &trans    &trans
		                              &trans    &trans      &trans    &trans
	>;};

	nav_layer {
	bindings = <
		&trans    &trans    &trans    &trans    &trans      &trans    &trans    &trans    &trans    &trans
		&trans    &trans    &trans    &trans    &trans      &trans    &trans    &trans    &trans    &trans
		&trans    &trans    &trans    &trans    &trans      &trans    &trans    &trans    &trans    &trans
		                              &trans    &trans      &trans    &trans
	>;};

};
};
